.kaufman {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-top: 100px;
    background: #1D1D1D;
    color: #ffffff;
    overflow: hidden;
    z-index: 0;
}