@import url(../assets/fonts/fonts.css);


@import url(../components/header/header.css);
@import url(../components/header/__illustration/header__illustration.css);
@import url(../components/header/__link/header__link.css);
@import url(../components/header/__logo/header__logo.css);
@import url(../components/header/__square/header__square.css);
@import url(../components/header/__subtitle/header__subtitle.css);
@import url(../components/header/__title/header__title.css);

@import url(../components/rotate/rotate.css);

@import url(../components/title/__section-subtitle/section-subtitle.css);
@import url(../components/title/__section-title/section-title.css);

@import url(../components/description/description.css); 

@import url(../components/two-columns/two-columns.css);
@import url(../components/two-columns/__brief/two-columns-brief.css);
@import url(../components/two-columns/__main-text/two-columns-main-text.css);
@import url(../components/two-columns/__paragraph/two-columns-paragraph.css);
@import url(../components/two-columns/__span-accent/two-columns-span-accent.css);

@import url(../components/techniques/techniques.css);
@import url(../components/techniques/__cards-description/cards-description.css);
@import url(../components/techniques/__cards-image/cards-image.css);
@import url(../components/techniques/__cards-item/cards-item.css);
@import url(../components/techniques/__cards-title/cards-title.css);
@import url(../components/techniques/__cards/cards.css);

@import url(../components/video/video.css);
@import url(../components/video/__iframe/video-iframe.css);
@import url(../components/video/__iframes/video-iframes.css);

@import url(../components/oakley/oakley.css);

@import url(../components/feynman/feynman.css);
@import url(../components/feynman/__image/feynman-image.css);
@import url(../components/feynman/__link/feynman-link.css);
@import url(../components/feynman/__subtitle/feynman-subtitle.css);
@import url(../components/feynman/__title/feynman-title.css);

@import url(../components/digits/digits.css);

@import url(../components/tables/__cell/table-cell.css);
@import url(../components/tables/__heading/table-heading.css);
@import url(../components/tables/__text/table-text.css);
@import url(../components/tables/__table/table.css);

@import url(../components/khan/khan.css);
@import url(../components/khan/__container/khan-container.css);
@import url(../components/khan/__book-container/khan__book-container.css);
@import url(../components/khan/__quote/khan-quote.css);
@import url(../components/khan/__title/khan-title.css);
@import url(../components/khan/__author/khan__author.css);
@import url(../components/khan/__book-pic/khan__book-pic.css);
@import url(../components/khan/__buy-link/khan__buy-link.css);
@import url(../components/khan/__quote-author-subline/khan__quote-author-subline.css);
@import url(../components/khan/__quote-author/khan-quote-author.css);

@import url(../components/kaufman/kaufman.css);
@import url(../components/kaufman/__triangle/kaufman__triangle.css);

@import url(../components/resources/resources.css);
@import url(../components/resources/__item/resources__item.css);
@import url(../components/resources/__logo/resources__logo.css);