.footer__column-link {
    color: #ffffff;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    list-style-type: none;
}
.footer__column-link a {
    color: #ffffff;
    text-decoration: none;
}